#login-container
{
    position:relative;
}

#disconnect-btn
{
    position: absolute;
    visibility: hidden;
}

.login-logo
{
    width:100px;
    height:100px;
}

#left-menu-container
{
    position:absolute;
    visibility: hidden;
}

.scrollable-table
{
    overflow-y: auto;
    height: 250px;
}

#room-actions-container{
    visibility: hidden;
}

#start-game-btn{
    visibility: hidden;
}